:root {
    --primario: #FEA116;
}

html {
  font-size: 14px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.action-column {
    min-width: 300px; /* Ajusta este valor según sea necesario */
}

.text-primario {
    color: var(--primario) !important;

}

body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}

.product-card {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    transition: transform 0.3s;
}

    .product-card:hover {
        transform: scale(1.05);
    }

.cart-item {
    margin-bottom: 1rem;
}

    .cart-item span {
        cursor: pointer;
    }

.header {
    color: #343a40;
    padding: 1rem 0;
    text-align: center;
}

.checkout-btn {
    background-color: #28a745;
    border: none;
}

    .checkout-btn:hover {
        background-color: #218838;
    }

.product-img {
    height: 200px;
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}

.product-images {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}
